[submodule "libfuse"]
	path = libfuse
	url = https://github.com/libfuse/libfuse.git
  branch = fuse-3.17.x
[submodule "azure-storage-fuse"]
	path = azure-storage-fuse
	url = https://github.com/Azure/azure-storage-fuse.git
[submodule "termux-packages"]
	path = termux-packages
	url = https://github.com/termux/termux-packages
